:root {
  --main-text-color: #757575;
  --main-title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --bg-color-secondary: #f5f4fa;
  --bg-color-dark: #2f303a;
  --bg-color-icon: rgba(255, 255, 255, 0.1);
  --icon-link: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--main-text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.current {
  color: var(--accent-color);
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.logo .accent {
  color: var(--accent-color);
}

.page-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-top: 34px;
  padding-bottom: 34px;
  color: var(--main-title-color);
}

.page-link.current {
  color: var(--accent-color);
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  padding-top: 34px;
  padding-bottom: 34px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.page-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.page-nav .logo {
  margin-right: 93px;
}

.nav-list > li:not(:last-child),
.contact-link:not(:last-child) {
  margin-right: 50px;
}

.page-header {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.page-link:hover,
.page-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.icon-thumb {
  margin-right: 10px;
}

.icon {
  fill: currentColor;
}

/* studio */

.hidden {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--main-title-color);
}

.sub-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.text {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
}

/* hero */

.hero-section {
  background-color: var(--bg-color-dark);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 50%,
      rgba(47, 48, 58, 0.4) 50%
    ),
    url(../image/hero-img.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--white-color);

  margin-top: 0;
}

.hero-section .btn {
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--accent-color);
}

/* our advantages */

.section-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages {
  display: flex;
  gap: 30px;
}

/* .advantages > li::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--bg-color-secondary);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages > li:nth-child(1)::before {
  background-image: url(../image/antenna\ 1.svg);
}

.advantages > li:nth-child(2)::before {
  background-image: url(../image/clock\ 1.svg);
}

.advantages > li:nth-child(3)::before {
  background-image: url(../image/diagram\ 1.svg);
}

.advantages > li:nth-child(4)::before {
  background-image: url(../image/astronaut\ 1.svg);
} */

.advantages-pre-box {
  width: 270px;
  height: 120px;
  background-color: var(--bg-color-secondary);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.advantages-svg-thumb {
  width: 70px;
  height: 70px;
  text-align: center;
}

/* what we do */

.work-section {
  padding-bottom: 94px;
}
.work-section img:not(:last-child) {
  margin-right: 30px;
}
/* team */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color-secondary);
}

.team-list {
  display: flex;
}

.team-list > li {
  padding-bottom: 30px;
  background-color: var(--white-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-list img {
  margin-bottom: 30px;
}
.team-list > li:not(:last-child) {
  margin-right: 40px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
  color: var(--main-title-color);
}

.profile {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.social-link-item {
  width: 44px;
  height: 44px;
  padding: 12px;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-thumb {
  width: 20px;
  height: 20px;
  color: var(--icon-link);
}

.social-link-item:hover,
.social-link-item:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
}

.social-link-item:hover .social-link-thumb,
.social-link-item:focus .social-link-thumb {
  color: var(--white-color);
}

.social-link-icon {
  fill: currentColor;
}

/* clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.client-item {
  border: 1px solid var(--icon-link);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  margin-right: 37px;
  padding: 16px 32px;
}

.client-item:last-child {
  margin-right: 0;
}

.client-thumb {
  width: 106px;
  height: 60px;
}

.client-item:hover,
.client-item:focus {
  border-color: var(--accent-color);
}

.client-icon {
  fill: var(--icon-link);
}

.client-item:hover .client-icon,
.client-item:focus .client-icon {
  fill: var(--accent-color);
}

/* portfolio*/
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: inherit;
  color: var(--main-title-color);
  background-color: var(--bg-color-secondary);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.filter-btn {
  text-align: center;
  margin-bottom: 50px;
}
.filter-btn .btn:not(:last-child) {
  margin-right: 8px;
}

.filter-btn > .btn:focus,
.filter-btn > .btn:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.cards-list img {
  display: block;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-list li {
  flex-basis: calc((100% - 60px) / 3);
  /* width: 370px;
height: 404px; */
}

.cards-list li:hover,
.cards-list li:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.card-dscr {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: transparent;
}

.title-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-title-color);
}

.type-of-work {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.hidden {
  display: none;
}

/* footer */

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-dark);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.address {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #fff;
  font-style: normal;
}

.address p {
  margin-bottom: 9px;
}

.address a:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-flex-container {
  display: flex;
}

.footer-flex-container > div:nth-child(1) {
  margin-right: 90px;
}

.footer-cocial-link-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-cocial-list {
  display: flex;
}

.footer-cocial-list > li {
  background-color: var(--bg-color-icon);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-cocial-list > li:not(last-child) {
  margin-right: 10px;
}

.footer-cocial-list > li:nth-child(1) {
  background-image: url(../image/instagram\ 2.svg);
}

.footer-cocial-list > li:nth-child(2) {
  background-image: url(../image/twitter\ 1.svg);
}

.footer-cocial-list > li:nth-child(3) {
  background-image: url(../image/facebook\ 1.svg);
}
.footer-cocial-list > li:nth-child(4) {
  background-image: url(../image/linkedin\ 1.svg);
}

.footer-cocial-list > li:hover,
.footer-cocial-list > li:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
